:root {
    --c-text: #2c3e50;
    --c-text-accent: #667eea;
    --code-bg-color: #282c34;
    --c-border: #eaecef;
    --c-brand: #6B7280;
    --c-brand-light: #4B5563;
}

html.dark {
    // brand colors
    --c-brand: #9CA3AF;
    --c-brand-light: #E5E7EB;
    
    --c-warning: #FCD34D;
    --c-warning-bg: #323843;
    --c-warning-title: #adbac7;
    --c-warning-text: #adbac7;

    --c-danger: #EF4444;
    --c-danger-bg: #323843;
    --c-danger-title: #adbac7;
    --c-danger-text: #adbac7;
}