:root {
    --c-text: #2c3e50;
    --c-text-accent: #667eea;
    --code-bg-color: #282c34;
    --c-border: #eaecef;
    --c-brand: #6B7280;
    --c-brand-light: #4B5563;
}

html.dark {
    // brand colors
    --c-brand: #9CA3AF;
    --c-brand-light: #E5E7EB;
    
    --c-warning: #FCD34D;
    --c-warning-bg: #323843;
    --c-warning-title: #adbac7;
    --c-warning-text: #adbac7;

    --c-danger: #EF4444;
    --c-danger-bg: #323843;
    --c-danger-title: #adbac7;
    --c-danger-text: #adbac7;
}

.medium-zoom-image {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
    --tw-border-opacity: 1;
    border-color: rgba(165,180,252,var(--tw-border-opacity));
    border: 1px solid #f4f4f4;
    border-radius: 2px;
}